/*Banner codes*/

.banner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.banner .banner_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.banner .banner_text {
  color: #f2f3f7;
}

.banner_text h1 {
  padding-right: 15px;
  margin-right: 10px;

  font-size: 34px;
  border-bottom: 2px solid #ffc107;
  padding-bottom: 15px;
}

.banner_text h3 {
  font-size: 29px;
  font-weight: 400;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  width: 100%;
  background-color: #00000067;
  /* height: 60vh; */
  height: 517.5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img_div {
  /* height: 60vh; */
  height: 517.5px;
  overflow: hidden;
}

/*Video*/
.video {
  /* width: 1263.33px; */
  height: 702px;
  background-color: #292929;


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video .svg_div {
  margin: 20px 0;
  
  width: 90px;
  height: 90px;

  color: #fff;
  background-color: #f9af1a;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  /* margin-right: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 100%;
}


.video .svg_div svg {
  padding: 6px;
  color: #232323;
  background-color: #fff;

  border-radius: 100%;
}

.video h2 {
  font-size: 35px;
  width: 587.05px;
  color: #fff;
  text-align: center;
}

.video p {
  width: 395.55px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff86;

  /* or 150% */

  display: flex;
  align-items: center;
  text-align: center;
}

.video a {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 146.79px;
  height: 48px;

  transition: .3s;
  background: #ffc107;
  border-radius: 4px;
}

.video a:hover {

  background: #fff;
  color: #ffc107;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}



/*experience*/

.group_img_div {
width: 410px;
height: 410px;

border-radius: 100%;
overflow: hidden;
}
.group_img_div img {
  width: 100%;
  object-fit: cover;
}

.experience {
  margin: 80px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.experience .text_box h2 {
  color: #f9af1a;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: 1px;
  margin: 0 0 5px;
}


.experience .text_box span,.experience_status span{
  color: #f9af1a;
}

.experience .text_box h1 {
max-width: 500px;
text-transform: capitalize;

line-height: 1.2;
font-weight: 700;
}
.experience .text_box p {
max-width: 500px;
font-size: 18px;
}

.experience_div {
  margin-top: 30px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  text-align: center;
}

.experience_status h1 {
  color: #232323;
  font-size: 34px;
  font-weight: 500;
}


.experience_status h4 {
  color: #232323;
  font-size: 18px;
  font-weight: 300;
}


/*Testimonial*/
.testimonial_card_box {
  width: 336px;
  height: 404px;
}

.testimonial_card_box.img_div img {
  width: 90px;
  height: 90px;

  object-fit: cover;
  border-radius: 100%;
}

@media screen and (max-width: 800px) {
  .experience {
    margin: 80px 20px;
    
    flex-direction: column;
  }

  .group_img_div {
    width: 310px;
    height: 310px;
    
    border-radius: 100%;
    overflow: hidden;
    align-self: center;

    margin-bottom: 50px;
    }

    .video h2 {
      width: 408px;
    }

  .banner_text h1 {
    text-align: center;
    margin-right: 0px;
  }

  .banner_text h3 {
    text-align: center;
  }
}
