.blog_post {

  box-shadow: 0px 2px 6px rgba(109, 108, 108, 0.358);
  display: flex;
  align-items: center;
  margin: 40px 0;
  padding: 40px 20px;
  transition: .3s ease-in-out;
  border-radius: 8px;

  overflow: hidden;
  
}

.blog_post:hover {
  box-shadow: 0px 2px 20px rgba(255, 230, 87, 0.532);
}

.blog_post .img_div {

  width: 600px;
border-radius: 10px;
overflow: hidden;

}

.blog_post .img_div img {
  cursor: pointer;

  width: 100%;
  height: 260px;
  object-fit: cover;
}

.blog_post .text_box {
  padding: 25px 20px;
  border: 1px solid white;
  margin-left: 30px;
  width: 50%;
}

.blog_post .text_box h2 {
  font-weight: 700;
  font-size: 18px;
  /* text-align: center; */
  margin-bottom: 7px;
  color: #232323;
}

.blog_post .text_box p {
  font-size: 16px;
}

.blog_post .text_box .date {
  margin-top: 20px;
  color: #f9af1a;
  font-weight: 500;

}


@media screen and (max-width: 674px) {

.blog_post {
  width: 100%;
  height: 100%;
}

.blog_post .img_div {
  margin-bottom: 6px;

}
  
.blog_post .text_box {
  padding: 15px;
}

.blog_post .text_box h2 {
  margin-bottom: 7px;
  font-size: 15px;

}

.blog_post .text_box p {
  font-size: 12px;
}

.blog_post .text_box .date {
  margin-top: 10px;
  color: #f9af1a;

}

  }