@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

.image_container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text_overlay {
  position: absolute;
  top: 50px;
  left: 0;
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* flex-direction: column; */
  padding: 0 0 0 80px;
  z-index: 1;
  max-width: 700px;
}

.text_overlay .glass_effect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  background: rgba(90, 90, 90, 0.297);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 5px 5px 25px #00000068;

  padding: 40px;
}

.text {
  color: white;
  font-size: 50px;
  font-weight: 200;
  text-align: left;
  /* text-align: center; */
  /* Additional styles for the text */
}

.text h3 {
  font-size: 25px;
  font-weight: 300;
  border-top: 2px solid #ffc107;

  transition: 0.3s ease-in-out;
}

.text h1 {
  font-size: 60px;
  font-weight: 600;
}

/* hr {
  background-color: #ffc107;
  border-color: #ffc107;
  width: 122px;
  height: 4px;
} */

.text_overlay p {
  color: aliceblue;
  font-size: 18px;
  max-width: 550px;

  margin-bottom: 20px;
}

.text_overlay button {
  font-size: 17px;
  color: #fff;
  background-color: #141414;
  padding: 22px 40px;

  border-radius: 50px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1rem;

  display: flex;
  align-items: center;
}

.text_overlay button svg {
  margin-left: 10px;
}

.text_overlay button:hover {
  background-color: #ffc107;

  transition: 0.3s ease-in-out;

  box-shadow: 5px 5px 10px #1a191989;
}

.text_overlay button:hover svg {
  transition: 0.3s ease-in-out;
  transform: translateX(10px);
}



/*Modal*/

.modal_div_screen{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.463);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    transition: 0.3s ease;

}

.modal_div_screen svg {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.3rem;
  margin: 20px 30px;
  cursor: pointer;
}


.modal_div_screen .modal_div  {
  /* position: relative; */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(2,2,2,0.3);
  overflow: hidden;
  width: 900px;
  /* transform: scale(0.5); */
  transition: transform 0.5 ease;
}

.modal_div_screen .modal_div h2 {
  color: #222;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 5px 15px;
}





.modal_div_screen .modal_div form {

  padding: 40px;
  background-color: #F4F7FC;

  width: 100%;
  height: auto;

}


.modal_div_screen .modal_div form .twoInone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_control, textarea {
  height: 45px;
  background-color: #fff;
  border-color: transparent;
  transition: .5s;
  border: 1px solid #e6e6e6;
  padding: 6px 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  width: 100%;

  margin: 20px 0;
  outline: none;
}

.form_control:focus {
border: 1px solid #f9af1a ;
}

#submit_btn {
background: #f9af1a;
transition: .3s ease-in-out;
cursor: pointer;
color: #fff;
font-size: 20px;
font-weight: 500;
}

#submit_btn:hover {
background: #232323;

}

textarea {
overflow: auto;
resize: vertical;
min-height:100px;
}


/*Currency*/
.currency_div {
display: flex;
justify-content: space-between;
align-items: center;
}


@media (max-width: 769px) {
  .section {
    margin: 0 1rem;
  }

  .text h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .text_overlay p {
    font-size: 10px;
    max-width: 700px;
  }

  .text h3 {
    font-size: 15px;
    font-weight: 300;

    border-top: 2px solid #ffc107;
  }

  .text_overlay button {
    font-size: 10px;
    padding: 12px 20px;
  }

  .text_overlay {
    width: 100%;
    padding: 10px;
    top: 20px;
    height: 100%;
  }

  .text_overlay .glass_effect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
  }

  .image_container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
}
