

footer {
  margin: 170px 0 100px;
  padding: 0 50px;
}

footer a {
    color: #232323;
}

.talk_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.talk_sec p {
  font-size: 40px;
  font-weight: bold;
  color: #232323;
  text-align: left;
}

.talk_sec span {
  color: #ffc107;
}

.message_us {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.message_us svg {
    color: #ffc107;
    font-weight: 800;
    font-size: 20px;
}

.message_us .mail_svg {
  margin-right: 10px;
}

.message_us input {
  border: none;
  outline: none !important;
}

.message_us button {
  background-color: transparent;
  border: none;
}

.details {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  
  /* margin-top: 50px; */
}

.details .profile .logoDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.details .profile img {
  width: 70px;
}

.details .profile p {
  font-size: 14px;
  max-width: 300px;
  /* text-align: center; */

}

/* Work enquiries */

.work_enquiries {
  /* margin-top: 20px; */
}

.work_enquiries h2 {
  font-weight: bold;
  text-align: center;

}

.work_enquiries p {
  font-size: 14px;
  text-align: center;

}

.work_enquiries span {
  font-weight: bold;

}

.work_enquiries a {
  color: #000;
}

.work_enquiries a:hover {
  border-bottom: 2px solid #ffc107;
  transition: 0.3s ease-in-oout;
}

/* .address {
    margin-top: 50px;
} */

.address h2 {
  font-weight: bold;
  text-align: center;

}

.address p {
  font-size: 14px;
  text-align: center;

}


/*Socials*/
.socials {

  margin-top: 30px;
}
.socials h2 {
  font-weight: bold;
  /* text-align: center; */
}

.socials div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.socials div svg {
  margin: 0 6px;
  font-size: 20px;
  margin-bottom: 6px;

  /* color: #000; */
}

.socials div .twitter {
  color: #00acee !important;
}
.socials div .facebook {
  color: #3b5998 !important;
}
.socials div .linkedin {
  color: #0072b1 !important;
}


.socials div .instagram {
  width: 100%; 
  height: 20px;
  align-self: center;
}

footer hr {
    margin: 30px 0 20px 0;
    border: 1px solid #ffc107;
}

.hr_p {
    text-align: center;
    color: #0c0c0c;
}

@media screen and (max-width: 800px) {
  .work_enquiries {
    margin-top: 0px;
  }

  .details,.talk_sec {
    /* flex-wrap: wrap; */
    flex-direction: column;
  }

  .talk_sec {
    justify-content: flex-start;
  }

  /* .address, .profile, .socials {
    margin-bottom: 30px;
  } */
  .address h2,.socials h2 ,.work_enquiries h2,.work_enquiries p,  .details .profile p {
text-align: left;
  }

  .details .profile .logoDiv {
    justify-content: flex-start;
  }


}
