  /*
  _____________
  PAYMENT FORM
  _____________
  */
    .contact_details h2 {
      color: #f9af1a;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 15px;
      letter-spacing: 1px;
      margin: 0 0 5px;
    }
    
    .contact_details h1 {
      font-size: 26px;
      color: #232323;
      margin: 14px 0;
    
      margin-bottom: 0px;
      text-transform: capitalize;
      margin-top: 0;
      line-height: 1.2;
      font-weight: 700;
    }
    
    .contact_details h1 span {
      color: #f9af1a;
    }

  
    .formDiv {
      padding: 0px 20px;
    }
  
    .formDiv form {
      width: 500px;
      /* max-width: 500px; */
      padding: 40px;
      background-color: #F4F7FC;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  /* height: 100%; */
  
    }
  
    .form_control, textarea {
      height: 54px;
      background-color: #fff;
      border-color: transparent;
      transition: .5s;
      border: 1px solid #e6e6e6;
      padding: 6px 20px;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 5px;
      width: 100%;
  
      margin: 20px 0 1px;
      outline: none;
  }
  
  .form_control:focus {
    border: 1px solid #f9af1a ;
  }
  
  #submit_btn {
    background: #f9af1a;
    transition: .3s ease-in-out;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }
  
  #submit_btn:hover {
    background: #232323;
  }

  