.swiper {
  width: 100%;
  /* height: 100vh; */
  margin-top: 60px;
}

/* .swiper-pagination {
  display: none !important;
} */

.pagination {
  text-align: center;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.paginationButton {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 2px solid #f9af1a;
  background-color: transparent;
  margin: 0 10px;
}

.paginationButton:focus {
  background-color: #f9af1a;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

/* 
.swiper-slide:hover {
    transition: .3s;
    box-shadow: 15px 15px 20px #fff;
    border: 3px solid salmon;
} */

.card_box {
  padding: 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  height: 550px;
}

/* .card_box:hover {
    transition: .3s;
    box-shadow: 15px 15px 20px #00000058;
} */

.card_box .img_div {
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
}

.card_box .img_div img {
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 12px;
}

.card_box .text_box {
  padding: 33px 14px;
}

.card_box .text_box button {
  border-radius: 15px;
  text-transform: capitalize;
  background-color: #f9af1a;
  color: #fff;
  border: 1px solid transparent;
  padding: 16px 22px;
  margin: 10px 0;
  position: relative;
  font-size: 17px;
  font-weight: 500;

  z-index: 1;
  overflow: hidden;
  transition: 0.3s;
  width: 100%;

  box-shadow: 5px 5px 10px #cdcdcd;
  cursor: pointer;
}


.card_box .text_box button:hover {
  background-color: #151515;
}

/*Blog Swiper*/
.blog_card_box {
  width: 323px;
  max-height: 500px;
  background-color: #fff;
  border-radius: 10px;
}

.blog_card_box .img_div {
  overflow: hidden;
  width: 100%;
  /* height: 300px; */
  border-radius: 10px;
  object-fit: cover;
}

.blog_card_box .img_div img {
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.blog_card_box .text_box {
  padding: 32px;
}

.blog_card_box .name_time {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.blog_card_box .name_time .name,
.blog_card_box .name_time .time {
  display: flex;
  align-items: center;
}

.blog_card_box .name_time .name svg,
.blog_card_box .name_time .time svg {
  margin-right: 5px;
  color: #f9af1ad6;
}

.blog_card_box .name_time .name h5,
.blog_card_box .name_time .time h5 {
  color: #616161;
}

.blog_card_box .text_box h2 {
  margin: 10px 0;
  color: #151515;
}

.blog_card_box .text_box p {
  margin-bottom: 20px;
}

.blog_card_box .text_box a {
  font-size: 15px;
  color: #f9af1a;
  font-weight: 400;
  display: flex;
}

.blog_card_box .text_box svg {
  transition: 0.3s ease-in-out;
  align-self: center;
  margin-left: 4px;
}

.blog_card_box .text_box a:hover svg {
  transform: translateX(5px);
}

.swiper-pagination {
  background-color: #f9af1a !important;
}


.logo {
  /* filter: grayscale(80%);
  opacity: 0.5; */
  width: 100%;
  max-width: 90px;
}

.logo1 {
  /* filter: grayscale(80%);
  opacity: 0.5; */
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
}

.logo_swiper {
  background-color: #f9af1a;
}

/*TESTIMONIAL*/

.testimonial_card_box {
  border: 2px solid white;
  padding: 25px 20px;
  /* width: 336px!important; */
  height: 400px!important;

  background-color: #fff;
  border-radius: 30px;
  transition: .3s ease-in-out;
  
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

.testimonial_card_box:hover {
  box-shadow: 0px 2px 6px rgba(109, 108, 108, 0.358); /* Example shadow effect */

}

.testimonial_card_box .img_div {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.testimonial_card_box .img_div img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 100%;
}

.testimonial_card_box .text_box {
  border: 1px solid white;

  margin: 10px ;
}

.testimonial_card_box .text_box h2 {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}


.testimonial_card_box .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 35px;
}

.testimonial_card_box .stars svg {
  color: #f9af1a;
}

.testimonial_card_box .text_box h3 {
  font-size: 14px;
  font-weight: 420;
  color: #fda900;
}

/* .image_container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
} */

.image {

}

@media screen and (max-width: 769px) {
  .card_box .img_div {
    height: 100px;
  }

  .card_box {
    padding: 20px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    height: 350px;
  }
}
