.team_sec {
  padding: 50px;
  margin: 50px 0;
}

.services .text_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  /* margin-bottom: 100px; */
}

.services .text_box h2 {
  color: #e69e21;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: 1px;
  margin: 0 0 5px;
}

.services .text_box h1 {
  max-width: 500px;
  text-transform: capitalize;

  line-height: 1.2;
  font-weight: 700;
}
.services .text_box p {
  max-width: 500px;
  font-size: 18px;
}

/*Team*/
/* Style for the team section */
.wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

/* Style for individual team member profiles */
.profile {
  position: relative;
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;

  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.profile:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 40px rgba(255, 187, 0, 0.532); /* Example shadow effect */
  border: 1px solid #fff;

}

/* Style for profile images */
.img_div {
  text-align: center;
}

.pro_img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  border: 3px solid #e69e21;
}

/* Style for profile details */
.dtl {
  margin-top: 10px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffc107;
}

.bio {
  font-size: 16px;
  color: #888;
}

/* Style for social icons */
/* .overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
} */

.social a {
  color: #333;
  font-size: 25px;
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social a:hover {
  color: #007bff; /* Change to your desired hover color */
}


.social {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 20px;

  border-radius: 10px;
}

.social svg {
  color: #232323;
  font-size: 25px;
  margin: 0 5px;
  transition: all 0.3s;
}

.social svg:hover {
  color: #e69e21;
}



/*Text Box*/
.team_sec .text_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.team_sec .text_box h2 {
  color: #e69e21;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: 1px;
  margin: 0 0 5px;
}

.team_sec .text_box h1 {
  font-size: 45px;
  color: #232323;
  margin: 14px 0;

  line-height: 0.9;

  max-width: 550px;
  margin-bottom: 0px;
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.2;
  font-weight: 700;
}

.team_sec .text_box h1 span {
  color: #ffc107;
}

.team_sec .text_box p {
  max-width: 500px;
}

.team_sec .text_box h3 {
  width: 50%;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    /* flex-wrap: wrap; */
    flex-direction: column;
  }

  .team_sec .text_box {
    flex-direction: column;
    }

    .team_sec .text_box h1 {
      font-size: 30px;
    }

    .team_sec .text_box p {
      text-align: left;
    }
  /* .profile{
    width: 150px;
    height: 150px;
}
.pro_img{
    width: 120px;
    height: 120px;
} */



}

@keyframes showProfile {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
